[Unit]
Description=Gunicorn daemon for the Perfume Label System
After=network.target

[Service]
User=perfumeapp
Group=www-data
WorkingDirectory=/home/perfumeapp/perfume_labels_system
EnvironmentFile=/home/perfumeapp/perfume_labels_system/.env
ExecStart=/home/perfumeapp/perfume_labels_system/venv/bin/gunicorn \
    --workers 3 \
    --bind unix:/home/perfumeapp/perfume_labels_system/gunicorn.sock \
    config.wsgi:application

Restart=on-failure

[Install]
WantedBy=multi-user.target
